.practice-menu {
    display: flex;
   
    gap: 20px;
    /* justify-content: center; */
    /* flex-wrap: wrap; */
}
.tab{
    border: 1px solid #d6d6d6;
    background: #f7f7f7;
    color: #2a2a2a;
    padding: 0.6rem 1.2rem;
    border-radius: 999px;
}
.tab.active{
background-color: aqua;
}